 // Ajout des couleurs Global pour la charte graphique
 $primary: #2F2569;
 $danger: #9C122B;
 $success: #FF8778;
 $secondary: #686869;
 $warning: #1E1E1E;
 $info: #5CB8FF;

//Import Scss bootstrap
@import "../vendor/twbs/bootstrap/scss/bootstrap";

//Import css nouislider
@import "nouislider.min.css"