//Import Custom
@import "custom";

//Ajout Css personnalisé

//Ajout dela couleur de fond + Polices écriture global
body {
  background-color: $secondary;
  font-family: "Aref Ruqaa Ink", serif;
}

// Styles Titres
h1,
h2,
h3 {
  text-transform: uppercase;
  background: linear-gradient(to bottom right, #2f2569 0%, #9c122b 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #2f2569 0%, #9c122b 50%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #2f2569 0%, #9c122b 50%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #2f2569 0%, #9c122b 50%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 45px;
}
h2 {
  text-align: center;
  font-size: 50px;
}
h3{
  font-size: 28px;
  text-align: center;
}
h4{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
//Style bouton
.index_bouton{
    margin: 0px 50px 20px;
}
//Ajout Css Navbar
.navigation_bandeau {
  background-color: $warning;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.navbar-text {
  color: $info;
}
.logo {
  width: 180px;
}
.navigation_link {
  margin-left: 100px;
}
//Media Query navbar
@media screen and (max-width: 992px) {
  h1 {
    font-size: 35px;
  }
  .navigation_link {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    width: 50px;
  }
  h1 {
    font-size: 30px;
  }
}

//Ajout Css Footer
.footer_bandeau {
  background-color: $warning;
}
//Affichage logo format 768px et +
@media screen and (max-width: 768px) {
  .hidden {
    visibility: collapse;
  }
  .logo_footer {
    width: 100px;
  }
}
.logo_social {
  padding: 15px;
}

//Ajout Css Index
.index_image {
  border-radius: 50px;
  border: 3px solid $success;
  width: 100%;
}
// Affichage des photo page acceuil taille 50 % pour les grands écrans
@media screen and (min-width: 768px) {
  .index_image {
    border-radius: 50px;
    border: 3px solid $success;
    width: 60%;
    margin: auto;
  }
}

//Affichage Text sur la page index
.index_text {
  background-color: $info;
  color: $primary;
  border-radius: 50px;
  border: 3px solid $success;
  text-align: center;
  font-size: 19px;
}
//Ajout style horaires gooter
.lib_horaires {
  display: flex;
  flex-direction: column;
  margin: 1px;
  font-size: 16px;
}
//Ajout style fonction Service
.service {
  background-color: $info;
  color: $primary;
  border-radius: 50px;
  border: 3px solid $success;
  text-align: center;
  font-size: 19px;
}
//Ajout média query
@media screen and (min-width : 960px) {
    ul{
        display: grid;
        grid-template-columns: auto auto ;
    }
}
//Ajout style modal
.modal-dialog{
    border-radius: 10px;
    border: 3px solid $success;
}
.test{
    background-color: $info;
} 
//Ajout style Avis
.index_avis{
  width: 300px;
  height: 250px;
  background-color: $info;
  color: $primary;
  border-radius: 50px;
  border: 3px solid $success;
  text-align: center;
  font-size: 19px;
  align-items: center;
  margin: auto;

}
.avis{
display: grid;
grid-template-columns: auto;
}
.index_avis{
  display: grid;
}
.index_avis2{
  display: none;
}
@media screen and (min-width : 960px) {
  .avis{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .index_avis{
    display: none;
  }
  .index_avis2{
    width: 300px;
    height: 250px;
    background-color: $info;
    color: $primary;
    border-radius: 50px;
    border: 3px solid $success;
    text-align: center;
    font-size: 19px;
    align-items: center;
    margin: auto;
    display: grid;
  }
}
//Ajout style page contact
.FormulaireContact{
  display: grid;
  grid-template-columns: 150px auto 150px auto ;
  padding: 15px;
  width: 95%;
}
.FormulaireContact2{
  display: grid;
  grid-template-columns: 150px auto   ;
  padding: 15px;
  width: 95%;
  height: 250px;
}
@media screen and (max-width : 768px) {
  .FormulaireContact{
      display: flex;
      flex-direction: column; 
      padding:  5px ;
  }
  .FormulaireContact2{
      display: flex;
      flex-direction: column; 
      padding:  5px ;
      height: auto;
  }
}
//Ajout CSS map
.map{
  margin: auto;
  border-radius: 50px;
  border: 3px solid $success;
  width: 300px;
}
@media screen and (min-width : 550px) {
  .map{
      width: 500px;
  }
}
@media screen and (min-width : 650px) {
  .map{
      width: 600px;
  }
}
@media screen and (min-width : 768px) {
  .map{
      width: 700px;
  }
}
@media screen and (min-width : 960px) {
  .map{
      width: 900px;
  }
}
//Ajout CSS Avis
.FormulaireAvis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
  margin: auto;
}
  @media screen and (min-width : 750px) {
    .FormulaireAvis {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      }
      .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
      }
  }
.admin_conteneur{
  background-color: $info;
  color: $danger;
  border-radius: 50px;
  border: 3px solid $success;
  text-align: center;
  font-size: 19px;
}