//Import Custom
@import 'custom';

//Ajout Css personnalisé

//Ajout dela couleur de fond + Polices écriture global 
body{
    background-color: $secondary;
    font-family: 'Aref Ruqaa Ink', serif;
}

// Styles Titres 
h1,h2,h3 {
    text-transform: uppercase;
background: linear-gradient(to bottom right, #2F2569 0%, #9C122B 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #2F2569 0%, #9C122B 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #2F2569 0%, #9C122B 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #2F2569 0%, #9C122B 50%) top right / 50% 50% no-repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h1{
    font-size: 45px;
}

//Ajout Css Navbar
.navigation_bandeau{
    background-color: $warning;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.navbar-text{
    color:$info
}
.logo{
    width: 180px;
}
.navigation_link{
    margin-left: 100px;

}
//Media Query navbar
@media screen and (max-width : 992px) {
    h1{
    font-size: 35px; 
    }
    .navigation_link{
        margin-left: 0px;
    }
}
@media screen and (max-width : 600px) {
    .logo{
        width: 100px;
    }
}
@media screen and (max-width : 400px) {
    .logo{
        width: 50px;
    }
    h1{
        font-size: 30px; 
    }
}

//Ajout Css Footer
.footer_bandeau{
    background-color: $warning;
}
//Affichage logo format 768px et +
@media screen and (max-width : 768px) {
    .hidden{
        visibility: collapse;
        }
    .logo_footer{
        width: 100px;
        }
    }
    .logo_social{
        padding: 15px;
    }